*{
    margin: 0;
    padding: 0 ;
}
.headings{
    color: #FDFFFC;
}
body{
    background-color: #040403;
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border: none;
    border-radius: 2vmin;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 8vmin;
    color:#73737a ;
    background-color: #2d2b2b;

}
#reset-game{
    size: 1.25rem;
    padding: 1rem;
    background-color: #33c20f;
    border: none;
    border-radius: 3vmin;
}
#msg{
    color: #FDFFFC;
    font-size: 5vmin;
}
.msg-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;

}
#new-btn{
    size: 1.25rem;
    padding: 1rem;
    background-color: #33c20f;
    border: none;
    border-radius: 3vmin;
}
.hide{
    display: none;
}